.listMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero_list {
  min-width: 100%;
  gap: 45px;
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 25px;
}

.pagination {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.pagination button {
  padding: 6px 10px;
  cursor: pointer;
}

.pagination button.active {
  font-weight: bold;
  background: black;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
